
//
// VARIABLES
//

// Colors
$blue: #660099;

// Grays
$black: #000;
$darkerGray: #c53dff;
$darkGray: #000;
$gray: #c53dff;
$lightGray: #c53dff;
$white: #c53dff;
$underline: #000;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
